##### This is practicing for pandas 101 examples.
##### 개인적으로 중요하다고 느낀 건 'useful' 이라고 tagging
##### 어려운건 'hard'

#### https://www.machinelearningplus.com/python/101-pandas-exercises-python/

In [1]:
import pandas as pd
import numpy as np

In [6]:
# 12. How to convert a numpy array to a dataframe of given shape? (L1)
# 7 rows and 5 columns

ser = pd.Series(np.random.randint(1, 10, 35))
ser

0     9
1     1
2     1
3     5
4     1
5     9
6     4
7     5
8     1
9     1
10    2
11    3
12    8
13    6
14    5
15    1
16    1
17    6
18    5
19    8
20    8
21    8
22    3
23    4
24    2
25    7
26    7
27    9
28    4
29    1
30    7
31    1
32    2
33    4
34    9
dtype: int32

In [5]:
df = pd.DataFrame(ser.values.reshape(7, 5))
print(df)

   0  1  2  3  4
0  6  2  7  3  3
1  1  4  9  2  3
2  9  8  4  5  2
3  5  3  3  8  1
4  9  1  8  6  3
5  5  4  9  2  4
6  6  2  2  8  2

In [17]:
# 13. How to find thd positions of numbers that are multiples of 3 from a series?
# “half-open” interval [low, high) <- randint 구간 범위
# 3의 배수인 수의 자리(position) 출력하기

ser = pd.Series(np.random.randint(1, 10, 7))
ser

0    6
1    1
2    5
3    7
4    5
5    3
6    9
dtype: int32

In [18]:
print(ser)
np.argwhere(ser % 3==0)

# np.argwhere : 특정값 찾기
# 그대로 했는데 왜 에러뜨지..?

0    6
1    1
2    5
3    7
4    5
5    3
6    9
dtype: int32

ValueError: Length of values (1) does not match length of index (7)

In [19]:
# 14. How to extract items at given positions from a series

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [20]:
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [21]:
# 15. How to stack two series vertically and horizontally?

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [22]:
# Vertical 
ser1.append(ser2)

# ===> append 없어짐 ㅠㅠ

C:\Users\atc98\AppData\Local\Temp\ipykernel_16872\385992263.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ser1.append(ser2)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [25]:
df = pd.concat([ser1, ser2], axis=1)
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [26]:
# 16. How to get the positions of items of series A in another series B?

ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [27]:
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

[5, 4, 0, 8]

In [28]:
[pd.Index(ser1).get_loc(i) for i in ser2]

#get_loc 쓰는게 좀 더 직관적인거 같음

[5, 4, 0, 8]

In [29]:
# 17. How to compute the mean squared error on a truth and predicted series?

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [30]:
np.mean((truth-pred)**2)

0.3214647709990421

In [32]:
# 18. How to convert the first character of each element in a series to uppercase?

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [33]:
ser.map(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [34]:
ser.map(lambda x: x[0].upper() + x[1:])

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [35]:
pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [36]:
# 19. How to caclulate the number of characters in each word in a series?

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [37]:
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

In [2]:
# 20. How to compute difference of differences between consequtive numbers of a series?

ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

In [3]:
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [4]:
# 21. How to convert a series of date-strings to a timeseries?

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [6]:
# 간단한 방법
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [7]:
# 쫌 더 복잡한 방법
from dateutil.parser import parse
ser.map(lambda x: parse(x))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [8]:
# 22. How to get the day of month, week number, day of year and day of week from a series of date strings?

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [9]:
from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))

In [23]:
# dt.day / dt.isocalendar().week / dt.dayofyear

# day of month
print("Date: ", ser_ts.dt.day.tolist())

# week number
print("Week number: ", ser_ts.dt.isocalendar().week.tolist())

# day of year
print("Day number of year: ", ser_ts.dt.dayofyear.tolist())

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day number of year:  [1, 33, 63, 94, 125, 157]

In [24]:
# 23. How to convert year-month string to dates corresponding to the 4th day of the month? (개인적으로 hard)

ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

In [25]:
from dateutil.parser import parse

ser_ts = ser.map(lambda x: parse(x))

In [26]:
ser_datestr = ser_ts.dt.year.astype('str') + '-' + ser_ts.dt.month.astype('str')

In [27]:
[parse(i).strftime('%Y-%m-%d') for i in ser_datestr]

['2010-01-15', '2011-02-15', '2012-03-15']

In [30]:
ser.map(lambda x: parse('04 ' + x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

In [2]:
# 24. How to filter words tjat contain at least 2 vowels(모음) from a series?

ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

In [3]:
from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2 )

# get() 키의 값 반환

In [4]:
mask

0     True
1     True
2    False
3    False
4     True
dtype: bool

In [5]:
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

In [2]:
# 25. How to filter valid emails from a series?

emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

In [3]:
# Solution 1 (as series of strings)

import re

mask = emails.map(lambda x: bool(re.match(pattern, x)))
emails[mask]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

In [4]:
# Solution 2 (as series of list)
emails.str.findall(pattern, flags=re.IGNORECASE)

0                     []
1    [rameses@egypt.com]
2            [matt@t.co]
3    [narendra@modi.com]
dtype: object

In [5]:
# Solution 3 (as list)
[x[0] for x in [re.findall(pattern, email) for email in emails] if len(x) > 0]

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']

In [7]:
# [useful] 26. How to get the mean of a series grouped by another series?

fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['apple', 'banana', 'banana', 'carrot', 'apple', 'banana', 'banana', 'carrot', 'apple', 'apple']

In [8]:
weights.groupby(fruit).mean()

apple     6.25
banana    4.50
carrot    6.00
dtype: float64

In [9]:
# 27. How to compute the euclidean distance between two series?

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

In [10]:
# solution 1
sum((p-q)**2)**.5

18.16590212458495

In [11]:
# Solution 2 (using func)
np.linalg.norm(p-q)

18.16590212458495

In [12]:
# 28. How to find all the local maxima (or peaks) in a numeric series?

ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

In [13]:
dd = np.diff(np.sign(np.diff(ser)))
peak_locs = np.where(dd == -2)[0] + 1
peak_locs

# np.sign() 양수이면 1 음수면 -1, 0이면 0으로 만들어준다.
# np.diff() 배열 원소 간 n차 차분 구하기

array([1, 5, 7], dtype=int64)

In [2]:
# 29. How to replace missing spaces in a string with the least frequent character?

my_str = 'dbc deb abed gade'

In [3]:
ser = pd.Series(list('dbc deb abed gade'))
freq = ser.value_counts()
print(freq)

d    4
e    3
     3
b    3
a    2
c    1
g    1
dtype: int64

In [4]:
least_freq = freq.dropna().index[-1]
"".join(ser.replace(' ', least_freq))

'dbcgdebgabedggade'

In [5]:
# 30. How to create a TimeSeries starting '2000-01-01' and 10 weekends (saturdays) after that having random numbers as values?

In [6]:
ser = pd.Series(np.random.randint(1,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
ser

2000-01-01    5
2000-01-08    9
2000-01-15    3
2000-01-22    8
2000-01-29    3
2000-02-05    4
2000-02-12    4
2000-02-19    2
2000-02-26    5
2000-03-04    2
Freq: W-SAT, dtype: int32

In [7]:
# 31. How to fill an intermittent(간헐적인) time series so all missing dates show up with values of previous non-missing date?

ser = pd.Series([1, 10, 3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64

In [8]:
ser.resample('D').ffill() # fill with previous value

# D가 resample 함수에서 1일 단위 구간을 의미함

# [ resample() 메소드의 시간 단위 구간 설정 ]

# - 5분 단위 구간    : resample('5T')

# - 10분 단위 구간  : resample('10T')

# - 20분 단위 구간 : resample('20T')

# - 1시간 단위 구간 : resample('1H')

# - 1일 단위 구간    : resample('1D')

# - 1주일 단위 구각 : resample('1W')

# - 1달 단위 구간    : resample('1M')

# - 1년 단위 구간    : resample('1Y')


# 출처: https://rfriend.tistory.com/494 [R, Python 분석과 프로그래밍의 친구 (by R Friend)]

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

In [9]:
# 32. How to compute the autocorrelations of a numeric series?

ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

In [10]:
autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]
print(autocorrelations[1:])
print('Lag having highest correlation: ', np.argmax(np.abs(autocorrelations[1:]))+1)

[-0.24, -0.22, -0.23, 0.17, -0.02, -0.15, 0.39, -0.19, 0.08, -0.29]
Lag having highest correlation:  7

In [11]:
# 33. How to import only every nth row from a csv file to create a dataframe?
# L2 Import every 50th row of BostonHousing dataset as a dataframe.

# solution 1: Use chunks and for-loop
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.DataFrame()
for chunk in df:
    df2 = df2.append(chunk.iloc[0,:])

In [13]:
df2

,age,b,chas,crim,dis,indus,lstat,medv,nox,ptratio,rad,rm,tax,zn
0,65.2,396.90,0.0,0.00632,4.0900,2.31,4.98,24.0,0.538,15.3,1.0,6.575,296.0,18.0
50,45.7,395.56,0.0,0.08873,6.8147,5.64,13.45,19.7,0.439,16.8,4.0,5.963,243.0,21.0
100,79.9,394.76,0.0,0.14866,2.7778,8.56,9.42,27.5,0.520,20.9,5.0,6.727,384.0,0.0
150,97.3,372.80,0.0,1.65660,1.6180,19.58,14.10,21.5,0.871,14.7,5.0,6.122,403.0,0.0
200,13.9,384.30,0.0,0.01778,7.6534,1.47,4.45,32.9,0.403,17.0,3.0,7.135,402.0,95.0
250,13.0,396.28,0.0,0.14030,7.3967,5.86,5.90,24.4,0.431,19.1,7.0,6.487,330.0,22.0
300,47.4,390.86,0.0,0.04417,7.8278,2.24,6.07,24.8,0.400,14.8,5.0,6.871,358.0,70.0
350,44.4,396.90,0.0,0.06211,8.7921,1.25,5.98,22.9,0.429,19.7,1.0,6.490,335.0,40.0
400,100.0,396.90,0.0,25.04610,1.5888,18.10,26.77,5.6,0.693,20.2,24.0,5.987,666.0,0.0
450,92.6,0.32,0.0,6.71772,2.3236,18.10,17.44,13.4,0.713,20.2,24.0,6.749,666.0,0.0
500,79.7,396.90,0.0,0.22438,2.4982,9.69,14.33,16.8,0.585,19.2,6.0,6.027,391.0,0.0

In [14]:
# solution 2: Use chunks and list comprehension

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.concat([chunk.iloc[0] for chunk in df], axis=1)
df2 = df2.transpose()

df2

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
50,0.08873,21.0,5.64,0.0,0.439,5.963,45.7,6.8147,4.0,243.0,16.8,395.56,13.45,19.7
100,0.14866,0.0,8.56,0.0,0.520,6.727,79.9,2.7778,5.0,384.0,20.9,394.76,9.42,27.5
150,1.65660,0.0,19.58,0.0,0.871,6.122,97.3,1.6180,5.0,403.0,14.7,372.80,14.10,21.5
200,0.01778,95.0,1.47,0.0,0.403,7.135,13.9,7.6534,3.0,402.0,17.0,384.30,4.45,32.9
250,0.14030,22.0,5.86,0.0,0.431,6.487,13.0,7.3967,7.0,330.0,19.1,396.28,5.90,24.4
300,0.04417,70.0,2.24,0.0,0.400,6.871,47.4,7.8278,5.0,358.0,14.8,390.86,6.07,24.8
350,0.06211,40.0,1.25,0.0,0.429,6.490,44.4,8.7921,1.0,335.0,19.7,396.90,5.98,22.9
400,25.04610,0.0,18.10,0.0,0.693,5.987,100.0,1.5888,24.0,666.0,20.2,396.90,26.77,5.6
450,6.71772,0.0,18.10,0.0,0.713,6.749,92.6,2.3236,24.0,666.0,20.2,0.32,17.44,13.4
500,0.22438,0.0,9.69,0.0,0.585,6.027,79.7,2.4982,6.0,391.0,19.2,396.90,14.33,16.8

In [15]:
# solution 3: Use csv reader
import csv
with open('BostonHousing.csv', 'r') as f:
    reader = csv.reader(f)
    out = []
    for i, row in enumerate(reader):
        if i%50 == 0:
            out.append(row)
            
df2 = pd.DataFrame(out[1:], columns=out[0])
print(df2.head())

FileNotFoundError: [Errno 2] No such file or directory: 'BostonHousing.csv'

In [16]:
# 34. How to change column values when importing csv to a dataframe?

# solution 1: Using converter parameter
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv',
                converters={'medv': lambda x: 'High' if float(x) > 25 else 'Low'})

In [ ]:
# solution 2: Using csv reader
import csv
with open('BostonHousing.csv', 'r') as f:
    reader = csv.reader(f)
    out = []
    for i, row in enumerate(reader):
        if i > 0:
            row[13] = 'High' if float(row[13]) > 25 else 'Low'
        out.append(row)
        
df = pd.DataFrame(out[1:], columns=out[0])
print(df.head())

In [17]:
# 35. How to create a dataframe with rows as strides from a given series? (hard)
L = pd.Series(range(15))

In [24]:
def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    return np.array(a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides])

gen_strides(L, stride_len=2, window_len=4)

# array([[ 0,  1,  2,  3],
#        [ 2,  3,  4,  5],
#        [ 4,  5,  6,  7],
#        [ 6,  7,  8,  9],
#        [ 8,  9, 10, 11],
#        [10, 11, 12, 13]])

array(<generator object gen_strides.<locals>.<genexpr> at 0x000001B7E6FC6430>,
      dtype=object)

In [25]:
# 36. How to import only specified columns from a csv file?

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])
print(df.head())

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

In [26]:
# 37. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [27]:
# number of rows and columns
print(df.shape)

(93, 27)

In [28]:
# datatypes
print(df.dtypes)

Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city              float64
MPG.highway           float64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower            float64
RPM                   float64
Rev.per.mile          float64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers            float64
Length                float64
Wheelbase             float64
Width                 float64
Turn.circle           float64
Rear.seat.room        float64
Luggage.room          float64
Weight                float64
Origin                 object
Make                   object
dtype: object

In [32]:
# summary statistics
df_stats = df.describe()
df_stats

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
count,86.000000,91.000000,88.000000,84.000000,91.000000,91.000000,86.000000,90.000000,87.000000,85.000000,91.000000,89.000000,92.000000,87.000000,88.000000,89.000000,74.000000,86.000000
mean,17.118605,19.616484,21.459091,22.404762,29.065934,2.658242,144.000000,5276.666667,2355.000000,16.683529,5.076923,182.865169,103.956522,69.448276,38.954545,27.853933,13.986486,3104.593023
std,8.828290,9.724280,10.696563,5.841520,5.370293,1.045845,53.455204,605.554811,486.916616,3.375748,1.045953,14.792651,6.856317,3.778023,3.304157,3.018129,3.120824,600.129993
min,6.700000,7.400000,7.900000,15.000000,20.000000,1.000000,55.000000,3800.000000,1320.000000,9.200000,2.000000,141.000000,90.000000,60.000000,32.000000,19.000000,6.000000,1695.000000
25%,10.825000,12.350000,14.575000,18.000000,26.000000,1.800000,100.750000,4800.000000,2017.500000,14.500000,4.000000,174.000000,98.000000,67.000000,36.000000,26.000000,12.000000,2647.500000
50%,14.600000,17.700000,19.150000,21.000000,28.000000,2.300000,140.000000,5200.000000,2360.000000,16.500000,5.000000,181.000000,103.000000,69.000000,39.000000,27.500000,14.000000,3085.000000
75%,20.250000,23.500000,24.825000,25.000000,31.000000,3.250000,170.000000,5787.500000,2565.000000,19.000000,6.000000,192.000000,110.000000,72.000000,42.000000,30.000000,16.000000,3567.500000
max,45.400000,61.900000,80.000000,46.000000,50.000000,5.700000,300.000000,6500.000000,3755.000000,27.000000,8.000000,219.000000,119.000000,78.000000,45.000000,36.000000,22.000000,4105.000000

In [33]:
# numpy array
df_arr = df.values
df_arr

array([['Acura', 'Integra', 'Small', ..., 2705.0, 'non-USA',
        'Acura Integra'],
       [nan, 'Legend', 'Midsize', ..., 3560.0, 'non-USA', 'Acura Legend'],
       ['Audi', '90', 'Compact', ..., 3375.0, 'non-USA', 'Audi 90'],
       ...,
       ['Volkswagen', 'Corrado', 'Sporty', ..., 2810.0, 'non-USA',
        'Volkswagen Corrado'],
       ['Volvo', '240', 'Compact', ..., 2985.0, 'non-USA', 'Volvo 240'],
       [nan, '850', 'Midsize', ..., 3245.0, 'non-USA', 'Volvo 850']],
      dtype=object)

In [35]:
# list
df_list = df.values.tolist()
df_list

[['Acura',
  'Integra',
  'Small',
  12.9,
  15.9,
  18.8,
  25.0,
  31.0,
  'None',
  'Front',
  '4',
  1.8,
  140.0,
  6300.0,
  2890.0,
  'Yes',
  13.2,
  5.0,
  177.0,
  102.0,
  68.0,
  37.0,
  26.5,
  nan,
  2705.0,
  'non-USA',
  'Acura Integra'],
 [nan,
  'Legend',
  'Midsize',
  29.2,
  33.9,
  38.7,
  18.0,
  25.0,
  'Driver & Passenger',
  'Front',
  '6',
  3.2,
  200.0,
  5500.0,
  2335.0,
  'Yes',
  18.0,
  5.0,
  195.0,
  115.0,
  71.0,
  38.0,
  30.0,
  15.0,
  3560.0,
  'non-USA',
  'Acura Legend'],
 ['Audi',
  '90',
  'Compact',
  25.9,
  29.1,
  32.3,
  20.0,
  26.0,
  'Driver only',
  'Front',
  '6',
  2.8,
  172.0,
  5500.0,
  2280.0,
  'Yes',
  16.9,
  5.0,
  180.0,
  102.0,
  67.0,
  37.0,
  28.0,
  14.0,
  3375.0,
  'non-USA',
  'Audi 90'],
 ['Audi',
  '100',
  'Midsize',
  nan,
  37.7,
  44.6,
  19.0,
  26.0,
  'Driver & Passenger',
  nan,
  '6',
  nan,
  172.0,
  5500.0,
  2535.0,
  nan,
  21.1,
  6.0,
  193.0,
  106.0,
  nan,
  37.0,
  31.0,
  17.0,
  3405.0,
  'non-USA',
  'Audi 100'],
 ['BMW',
  '535i',
  'Midsize',
  nan,
  30.0,
  nan,
  22.0,
  30.0,
  nan,
  'Rear',
  '4',
  3.5,
  208.0,
  5700.0,
  2545.0,
  'Yes',
  21.1,
  4.0,
  186.0,
  109.0,
  69.0,
  39.0,
  27.0,
  13.0,
  3640.0,
  'non-USA',
  'BMW 535i'],
 ['Buick',
  'Century',
  'Midsize',
  14.2,
  15.7,
  17.3,
  22.0,
  31.0,
  'Driver only',
  nan,
  '4',
  2.2,
  110.0,
  5200.0,
  2565.0,
  'No',
  16.4,
  6.0,
  189.0,
  105.0,
  69.0,
  41.0,
  28.0,
  16.0,
  nan,
  'USA',
  'Buick Century'],
 ['Buick',
  'LeSabre',
  'Large',
  19.9,
  20.8,
  nan,
  19.0,
  28.0,
  'Driver only',
  'Front',
  '6',
  3.8,
  170.0,
  4800.0,
  nan,
  'No',
  nan,
  6.0,
  200.0,
  111.0,
  74.0,
  42.0,
  30.5,
  17.0,
  3470.0,
  'USA',
  'Buick LeSabre'],
 ['Buick',
  'Roadmaster',
  'Large',
  22.6,
  23.7,
  24.9,
  16.0,
  25.0,
  'Driver only',
  'Rear',
  '6',
  5.7,
  180.0,
  4000.0,
  1320.0,
  'No',
  23.0,
  6.0,
  216.0,
  116.0,
  78.0,
  45.0,
  30.5,
  21.0,
  4105.0,
  'USA',
  'Buick Roadmaster'],
 ['Buick',
  'Riviera',
  'Midsize',
  26.3,
  26.3,
  26.3,
  19.0,
  27.0,
  'Driver only',
  'Front',
  '6',
  3.8,
  170.0,
  4800.0,
  1690.0,
  'No',
  18.8,
  5.0,
  198.0,
  108.0,
  nan,
  41.0,
  26.5,
  14.0,
  3495.0,
  'USA',
  'Buick Riviera'],
 ['Cadillac',
  'DeVille',
  'Large',
  33.0,
  34.7,
  36.3,
  16.0,
  25.0,
  'Driver only',
  'Front',
  '8',
  4.9,
  200.0,
  4100.0,
  nan,
  'No',
  18.0,
  6.0,
  206.0,
  114.0,
  73.0,
  43.0,
  35.0,
  18.0,
  3620.0,
  'USA',
  'Cadillac DeVille'],
 ['Cadillac',
  'Seville',
  'Midsize',
  37.5,
  40.1,
  42.7,
  16.0,
  25.0,
  'Driver & Passenger',
  'Front',
  '8',
  4.6,
  295.0,
  6000.0,
  1985.0,
  'No',
  20.0,
  5.0,
  204.0,
  111.0,
  74.0,
  44.0,
  31.0,
  nan,
  3935.0,
  'USA',
  'Cadillac Seville'],
 ['Chevrolet',
  'Cavalier',
  'Compact',
  8.5,
  13.4,
  18.3,
  25.0,
  36.0,
  nan,
  nan,
  '4',
  2.2,
  nan,
  5200.0,
  2380.0,
  'Yes',
  15.2,
  5.0,
  182.0,
  101.0,
  66.0,
  38.0,
  25.0,
  13.0,
  2490.0,
  'USA',
  'Chevrolet Cavalier'],
 ['Chevrolet',
  'Corsica',
  'Compact',
  11.4,
  11.4,
  11.4,
  25.0,
  34.0,
  'Driver only',
  'Front',
  nan,
  2.2,
  110.0,
  5200.0,
  2665.0,
  'Yes',
  15.6,
  5.0,
  184.0,
  103.0,
  68.0,
  39.0,
  26.0,
  nan,
  2785.0,
  'USA',
  'Chevrolet Corsica'],
 ['Chevrolet',
  'Camaro',
  'Sporty',
  13.4,
  15.1,
  16.8,
  19.0,
  28.0,
  'Driver & Passenger',
  'Rear',
  nan,
  3.4,
  160.0,
  4600.0,
  1805.0,
  'Yes',
  nan,
  4.0,
  193.0,
  101.0,
  74.0,
  43.0,
  25.0,
  13.0,
  3240.0,
  'USA',
  'Chevrolet Camaro'],
 ['Chevrolet',
  'Lumina',
  'Midsize',
  13.4,
  15.9,
  18.4,
  nan,
  29.0,
  'None',
  'Front',
  '4',
  2.2,
  nan,
  5200.0,
  2595.0,
  'No',
  16.5,
  6.0,
  nan,
  108.0,
  71.0,
  nan,
  28.5,
  16.0,
  3195.0,
  'USA',
  'Chevrolet Lumina'],
 ['Chevrolet',
  'Lumina_APV',
  'Van',
  14.7,
  16.3,
  18.0,
  18.0,
  23.0,
  'None',
  'Front',
  '6',
  3.8,
  170.0,
  4800.0,
  1690.0,
  'No',
  20.0,
  7.0,
  178.0,
  110.0,
  74.0,
  44.0,
  30.5,
  nan,
  3715.0,
  'USA',
  'Chevrolet Lumina_APV'],
 ['Chevrolet',
  'Astro',
  'Van',
  14.7,
  16.6,
  18.6,
  15.0,
  20.0,
  'None',
  '4WD',
  '6',
  4.3,
  nan,
  4000.0,
  1790.0,
  'No',
  27.0,
  8.0,
  194.0,
  111.0,
  78.0,
  42.0,
  33.5,
  nan,
  4025.0,
  'USA',
  'Chevrolet Astro'],
 ['Chevrolet',
  'Caprice',
  'Large',
  18.0,
  18.8,
  19.6,
  17.0,
  26.0,
  'Driver only',
  'Rear',
  '8',
  5.0,
  170.0,
  4200.0,
  1350.0,
  'No',
  23.0,
  6.0,
  214.0,
  116.0,
  77.0,
  42.0,
  29.5,
  20.0,
  3910.0,
  'USA',
  'Chevrolet Caprice'],
 ['Chevrolet',
  'Corvette',
  'Sporty',
  34.6,
  38.0,
  41.5,
  17.0,
  25.0,
  'Driver only',
  'Rear',
  '8',
  5.7,
  300.0,
  5000.0,
  1450.0,
  'Yes',
  20.0,
  2.0,
  179.0,
  96.0,
  74.0,
  43.0,
  nan,
  nan,
  3380.0,
  nan,
  'Chevrolet Corvette'],
 [nan,
  'Concorde',
  'Large',
  18.4,
  18.4,
  18.4,
  20.0,
  28.0,
  'Driver & Passenger',
  'Front',
  '6',
  3.3,
  153.0,
  5300.0,
  1990.0,
  'No',
  18.0,
  6.0,
  203.0,
  113.0,
  74.0,
  nan,
  31.0,
  15.0,
  3515.0,
  'USA',
  'Chrylser Concorde'],
 ['Chrysler',
  'LeBaron',
  'Compact',
  14.5,
  15.8,
  17.1,
  23.0,
  28.0,
  'Driver & Passenger',
  'Front',
  '4',
  3.0,
  141.0,
  5000.0,
  2090.0,
  'No',
  16.0,
  6.0,
  183.0,
  104.0,
  68.0,
  41.0,
  30.5,
  14.0,
  3085.0,
  'USA',
  'Chrysler LeBaron'],
 ['Chrysler',
  'Imperial',
  'Large',
  29.5,
  29.5,
  29.5,
  20.0,
  26.0,
  'Driver only',
  'Front',
  '6',
  3.3,
  147.0,
  4800.0,
  1785.0,
  'No',
  16.0,
  6.0,
  203.0,
  110.0,
  69.0,
  44.0,
  36.0,
  17.0,
  3570.0,
  'USA',
  'Chrysler Imperial'],
 ['Dodge',
  'Colt',
  'Small',
  7.9,
  9.2,
  10.6,
  29.0,
  33.0,
  'None',
  'Front',
  '4',
  1.5,
  92.0,
  6000.0,
  3285.0,
  'Yes',
  nan,
  5.0,
  174.0,
  98.0,
  66.0,
  32.0,
  nan,
  11.0,
  2270.0,
  'USA',
  'Dodge Colt'],
 ['Dodge',
  'Shadow',
  'Small',
  8.4,
  11.3,
  14.2,
  23.0,
  29.0,
  'Driver only',
  'Front',
  '4',
  2.2,
  93.0,
  4800.0,
  nan,
  'Yes',
  14.0,
  5.0,
  172.0,
  97.0,
  67.0,
  38.0,
  26.5,
  nan,
  2670.0,
  'USA',
  'Dodge Shadow'],
 ['Dodge',
  'Spirit',
  'Compact',
  11.9,
  13.3,
  14.7,
  22.0,
  27.0,
  'Driver only',
  'Front',
  '4',
  2.5,
  100.0,
  4800.0,
  2535.0,
  'Yes',
  nan,
  6.0,
  181.0,
  104.0,
  68.0,
  39.0,
  30.5,
  nan,
  2970.0,
  'USA',
  'Dodge Spirit'],
 ['Dodge',
  'Caravan',
  'Van',
  nan,
  19.0,
  24.4,
  17.0,
  21.0,
  'Driver only',
  '4WD',
  '6',
  3.0,
  142.0,
  5000.0,
  1970.0,
  'No',
  20.0,
  7.0,
  175.0,
  112.0,
  72.0,
  42.0,
  26.5,
  nan,
  3705.0,
  'USA',
  'Dodge Caravan'],
 ['Dodge',
  'Dynasty',
  'Midsize',
  14.8,
  15.6,
  16.4,
  21.0,
  nan,
  'Driver only',
  'Front',
  nan,
  2.5,
  100.0,
  4800.0,
  2465.0,
  'No',
  16.0,
  6.0,
  192.0,
  105.0,
  69.0,
  42.0,
  30.5,
  16.0,
  3080.0,
  'USA',
  'Dodge Dynasty'],
 ['Dodge',
  'Stealth',
  'Sporty',
  18.5,
  25.8,
  33.1,
  nan,
  24.0,
  'Driver only',
  '4WD',
  '6',
  3.0,
  300.0,
  6000.0,
  2120.0,
  'Yes',
  19.8,
  4.0,
  180.0,
  97.0,
  nan,
  40.0,
  20.0,
  11.0,
  3805.0,
  'USA',
  'Dodge Stealth'],
 ['Eagle',
  'Summit',
  'Small',
  7.9,
  12.2,
  16.5,
  29.0,
  33.0,
  'None',
  'Front',
  '4',
  1.5,
  92.0,
  6000.0,
  2505.0,
  'Yes',
  13.2,
  5.0,
  174.0,
  98.0,
  66.0,
  36.0,
  26.5,
  11.0,
  2295.0,
  'USA',
  'Eagle Summit'],
 ['Eagle',
  'Vision',
  'Large',
  nan,
  19.3,
  21.2,
  20.0,
  28.0,
  'Driver & Passenger',
  'Front',
  '6',
  3.5,
  nan,
  5800.0,
  1980.0,
  'No',
  18.0,
  6.0,
  202.0,
  113.0,
  74.0,
  40.0,
  30.0,
  15.0,
  3490.0,
  'USA',
  'Eagle Vision'],
 ['Ford',
  'Festiva',
  'Small',
  6.9,
  7.4,
  7.9,
  31.0,
  33.0,
  nan,
  'Front',
  '4',
  1.3,
  63.0,
  5000.0,
  3150.0,
  'Yes',
  10.0,
  4.0,
  141.0,
  90.0,
  63.0,
  33.0,
  26.0,
  12.0,
  1845.0,
  'USA',
  'Ford Festiva'],
 ['Ford',
  'Escort',
  'Small',
  8.4,
  10.1,
  11.9,
  23.0,
  30.0,
  'None',
  'Front',
  '4',
  1.8,
  127.0,
  6500.0,
  2410.0,
  nan,
  13.2,
  5.0,
  171.0,
  98.0,
  67.0,
  36.0,
  28.0,
  12.0,
  2530.0,
  'USA',
  'Ford Escort'],
 ['Ford',
  'Tempo',
  'Compact',
  10.4,
  11.3,
  12.2,
  22.0,
  27.0,
  'None',
  'Front',
  '4',
  2.3,
  96.0,
  4200.0,
  2805.0,
  'Yes',
  15.9,
  5.0,
  177.0,
  100.0,
  68.0,
  nan,
  27.5,
  13.0,
  nan,
  'USA',
  nan],
 ['Ford',
  'Mustang',
  'Sporty',
  10.8,
  15.9,
  21.0,
  22.0,
  29.0,
  'Driver only',
  'Rear',
  '4',
  2.3,
  105.0,
  4600.0,
  2285.0,
  'Yes',
  15.4,
  4.0,
  180.0,
  101.0,
  68.0,
  40.0,
  24.0,
  12.0,
  nan,
  'USA',
  'Ford Mustang'],
 ['Ford',
  'Probe',
  'Sporty',
  12.8,
  14.0,
  15.2,
  nan,
  30.0,
  'Driver only',
  'Front',
  '4',
  2.0,
  115.0,
  5500.0,
  2340.0,
  'Yes',
  15.5,
  4.0,
  179.0,
  103.0,
  70.0,
  38.0,
  23.0,
  18.0,
  2710.0,
  'USA',
  'Ford Probe'],
 ['Ford',
  'Aerostar',
  'Van',
  14.5,
  19.9,
  25.3,
  15.0,
  20.0,
  'Driver only',
  '4WD',
  '6',
  3.0,
  145.0,
  4800.0,
  2080.0,
  'Yes',
  21.0,
  7.0,
  176.0,
  119.0,
  72.0,
  45.0,
  30.0,
  nan,
  3735.0,
  'USA',
  'Ford Aerostar'],
 ['Ford',
  'Taurus',
  'Midsize',
  15.6,
  20.2,
  24.8,
  21.0,
  30.0,
  'Driver only',
  'Front',
  '6',
  3.0,
  nan,
  4800.0,
  1885.0,
  'No',
  nan,
  5.0,
  192.0,
  106.0,
  71.0,
  40.0,
  27.5,
  18.0,
  3325.0,
  'USA',
  'Ford Taurus'],
 ['Ford',
  'Crown_Victoria',
  'Large',
  20.1,
  20.9,
  21.7,
  18.0,
  26.0,
  'Driver only',
  'Rear',
  '8',
  4.6,
  190.0,
  4200.0,
  nan,
  'No',
  20.0,
  6.0,
  212.0,
  114.0,
  78.0,
  43.0,
  30.0,
  21.0,
  3950.0,
  'USA',
  'Ford Crown_Victoria'],
 ['Geo',
  'Metro',
  'Small',
  6.7,
  8.4,
  10.0,
  46.0,
  50.0,
  'None',
  'Front',
  '3',
  1.0,
  55.0,
  5700.0,
  3755.0,
  nan,
  10.6,
  4.0,
  151.0,
  93.0,
  63.0,
  34.0,
  27.5,
  10.0,
  1695.0,
  'non-USA',
  'Geo Metro'],
 ['Geo',
  'Storm',
  'Sporty',
  11.5,
  12.5,
  13.5,
  30.0,
  36.0,
  'Driver only',
  'Front',
  '4',
  1.6,
  90.0,
  5400.0,
  3250.0,
  'Yes',
  12.4,
  4.0,
  164.0,
  97.0,
  nan,
  37.0,
  24.5,
  11.0,
  2475.0,
  'non-USA',
  'Geo Storm'],
 ['Honda',
  'Prelude',
  'Sporty',
  17.0,
  19.8,
  22.7,
  24.0,
  31.0,
  'Driver & Passenger',
  'Front',
  '4',
  2.3,
  160.0,
  5800.0,
  2855.0,
  'Yes',
  nan,
  4.0,
  175.0,
  100.0,
  70.0,
  39.0,
  23.5,
  8.0,
  2865.0,
  'non-USA',
  'Honda Prelude'],
 ['Honda',
  'Civic',
  'Small',
  8.4,
  12.1,
  15.8,
  42.0,
  46.0,
  'Driver only',
  'Front',
  '4',
  1.5,
  nan,
  5900.0,
  2650.0,
  'Yes',
  11.9,
  4.0,
  173.0,
  nan,
  67.0,
  36.0,
  28.0,
  12.0,
  nan,
  'non-USA',
  'Honda Civic'],
 ['Honda',
  'Accord',
  'Compact',
  13.8,
  17.5,
  21.2,
  24.0,
  31.0,
  'Driver & Passenger',
  'Front',
  '4',
  2.2,
  140.0,
  5600.0,
  nan,
  'Yes',
  17.0,
  4.0,
  185.0,
  107.0,
  67.0,
  41.0,
  28.0,
  14.0,
  3040.0,
  'non-USA',
  'Honda Accord'],
 ['Hyundai',
  'Excel',
  'Small',
  6.8,
  8.0,
  9.2,
  29.0,
  33.0,
  'None',
  'Front',
  '4',
  1.5,
  81.0,
  5500.0,
  2710.0,
  'Yes',
  11.9,
  5.0,
  168.0,
  94.0,
  63.0,
  35.0,
  26.0,
  11.0,
  2345.0,
  'non-USA',
  'Hyundai Excel'],
 ['Hyundai',
  'Elantra',
  'Small',
  9.0,
  10.0,
  11.0,
  nan,
  29.0,
  'None',
  'Front',
  '4',
  1.8,
  124.0,
  6000.0,
  2745.0,
  'Yes',
  13.7,
  5.0,
  172.0,
  98.0,
  66.0,
  36.0,
  28.0,
  12.0,
  2620.0,
  'non-USA',
  'Hyundai Elantra'],
 ['Hyundai',
  'Scoupe',
  nan,
  9.1,
  10.0,
  11.0,
  26.0,
  34.0,
  'None',
  'Front',
  '4',
  1.5,
  92.0,
  5550.0,
  2540.0,
  'Yes',
  11.9,
  4.0,
  166.0,
  94.0,
  64.0,
  34.0,
  23.5,
  9.0,
  2285.0,
  'non-USA',
  nan],
 ['Hyundai',
  'Sonata',
  'Midsize',
  12.4,
  13.9,
  15.3,
  20.0,
  27.0,
  'None',
  'Front',
  '4',
  2.0,
  128.0,
  6000.0,
  2335.0,
  'Yes',
  17.2,
  5.0,
  184.0,
  104.0,
  69.0,
  41.0,
  31.0,
  nan,
  2885.0,
  nan,
  'Hyundai Sonata'],
 ['Infiniti',
  'Q45',
  'Midsize',
  45.4,
  47.9,
  nan,
  17.0,
  22.0,
  nan,
  'Rear',
  '8',
  4.5,
  278.0,
  6000.0,
  1955.0,
  'No',
  22.5,
  5.0,
  200.0,
  113.0,
  72.0,
  42.0,
  29.0,
  15.0,
  4000.0,
  'non-USA',
  'Infiniti Q45'],
 ['Lexus',
  'ES300',
  'Midsize',
  27.5,
  28.0,
  28.4,
  18.0,
  24.0,
  'Driver only',
  'Front',
  '6',
  3.0,
  185.0,
  nan,
  2325.0,
  'Yes',
  18.5,
  5.0,
  188.0,
  103.0,
  70.0,
  40.0,
  27.5,
  14.0,
  3510.0,
  'non-USA',
  'Lexus ES300'],
 [nan,
  'SC300',
  'Midsize',
  34.7,
  35.2,
  35.6,
  18.0,
  23.0,
  'Driver & Passenger',
  'Rear',
  '6',
  3.0,
  225.0,
  6000.0,
  2510.0,
  'Yes',
  nan,
  4.0,
  191.0,
  106.0,
  71.0,
  39.0,
  25.0,
  9.0,
  3515.0,
  'non-USA',
  'Lexus SC300'],
 ['Lincoln',
  'Continental',
  'Midsize',
  33.3,
  34.3,
  35.3,
  17.0,
  26.0,
  'Driver & Passenger',
  nan,
  '6',
  3.8,
  160.0,
  4400.0,
  1835.0,
  'No',
  18.4,
  6.0,
  205.0,
  109.0,
  73.0,
  42.0,
  30.0,
  19.0,
  3695.0,
  'USA',
  'Lincoln Continental'],
 ['Lincoln',
  'Town_Car',
  'Large',
  34.4,
  36.1,
  37.8,
  18.0,
  26.0,
  'Driver & Passenger',
  'Rear',
  '8',
  4.6,
  210.0,
  4600.0,
  1840.0,
  'No',
  20.0,
  nan,
  219.0,
  117.0,
  77.0,
  45.0,
  31.5,
  22.0,
  4055.0,
  'USA',
  'Lincoln Town_Car'],
 ['Mazda',
  '323',
  'Small',
  7.4,
  8.3,
  9.1,
  29.0,
  37.0,
  'None',
  'Front',
  '4',
  1.6,
  82.0,
  5000.0,
  2370.0,
  'Yes',
  13.2,
  4.0,
  164.0,
  97.0,
  66.0,
  34.0,
  27.0,
  16.0,
  2325.0,
  'non-USA',
  'Mazda 323'],
 ['Mazda',
  'Protege',
  'Small',
  10.9,
  11.6,
  12.3,
  28.0,
  36.0,
  'None',
  'Front',
  '4',
  1.8,
  103.0,
  5500.0,
  2220.0,
  'Yes',
  14.5,
  5.0,
  172.0,
  98.0,
  66.0,
  36.0,
  26.5,
  13.0,
  2440.0,
  'non-USA',
  'Mazda Protege'],
 ['Mazda',
  '626',
  'Compact',
  14.3,
  16.5,
  18.7,
  26.0,
  34.0,
  'Driver only',
  'Front',
  '4',
  2.5,
  164.0,
  5600.0,
  2505.0,
  'Yes',
  15.5,
  5.0,
  184.0,
  103.0,
  69.0,
  40.0,
  29.5,
  14.0,
  2970.0,
  'non-USA',
  'Mazda 626'],
 ['Mazda',
  'MPV',
  'Van',
  16.6,
  19.1,
  21.7,
  18.0,
  24.0,
  'None',
  '4WD',
  '6',
  3.0,
  155.0,
  5000.0,
  2240.0,
  'No',
  19.6,
  7.0,
  190.0,
  110.0,
  72.0,
  39.0,
  27.5,
  nan,
  3735.0,
  'non-USA',
  'Mazda MPV'],
 ['Mazda',
  'RX-7',
  'Sporty',
  32.5,
  32.5,
  32.5,
  17.0,
  25.0,
  'Driver only',
  nan,
  'rotary',
  1.3,
  255.0,
  6500.0,
  2325.0,
  'Yes',
  20.0,
  2.0,
  169.0,
  96.0,
  69.0,
  nan,
  nan,
  nan,
  nan,
  'non-USA',
  'Mazda RX-7'],
 ['Mercedes-Benz',
  '190E',
  'Compact',
  29.0,
  31.9,
  34.9,
  nan,
  29.0,
  'Driver only',
  'Rear',
  '4',
  2.3,
  130.0,
  5100.0,
  2425.0,
  'Yes',
  14.5,
  5.0,
  175.0,
  105.0,
  67.0,
  34.0,
  26.0,
  12.0,
  2920.0,
  nan,
  'Mercedes-Benz 190E'],
 ['Mercedes-Benz',
  '300E',
  'Midsize',
  43.8,
  61.9,
  80.0,
  19.0,
  25.0,
  'Driver & Passenger',
  'Rear',
  '6',
  3.2,
  217.0,
  5500.0,
  2220.0,
  'No',
  18.5,
  5.0,
  nan,
  110.0,
  69.0,
  37.0,
  nan,
  15.0,
  3525.0,
  'non-USA',
  'Mercedes-Benz 300E'],
 ['Mercury',
  nan,
  'Sporty',
  13.3,
  14.1,
  15.0,
  23.0,
  26.0,
  'Driver only',
  'Front',
  '4',
  1.6,
  100.0,
  5750.0,
  2475.0,
  'Yes',
  11.1,
  4.0,
  166.0,
  95.0,
  65.0,
  36.0,
  19.0,
  6.0,
  2450.0,
  'USA',
  'Mercury Capri'],
 ['Mercury',
  'Cougar',
  'Midsize',
  14.9,
  14.9,
  14.9,
  19.0,
  26.0,
  'None',
  'Rear',
  '6',
  3.8,
  140.0,
  3800.0,
  1730.0,
  'No',
  18.0,
  5.0,
  199.0,
  113.0,
  73.0,
  38.0,
  28.0,
  15.0,
  3610.0,
  'USA',
  'Mercury Cougar'],
 ['Mitsubishi',
  'Mirage',
  'Small',
  7.7,
  10.3,
  12.9,
  29.0,
  nan,
  'None',
  'Front',
  '4',
  1.5,
  92.0,
  6000.0,
  2505.0,
  'Yes',
  13.2,
  5.0,
  172.0,
  98.0,
  67.0,
  36.0,
  26.0,
  11.0,
  2295.0,
  'non-USA',
  'Mitsubishi Mirage'],
 ['Mitsubishi',
  'Diamante',
  'Midsize',
  22.4,
  26.1,
  nan,
  18.0,
  24.0,
  'Driver only',
  'Front',
  '6',
  3.0,
  202.0,
  6000.0,
  2210.0,
  'No',
  19.0,
  5.0,
  190.0,
  107.0,
  70.0,
  43.0,
  27.5,
  14.0,
  3730.0,
  'non-USA',
  'Mitsubishi Diamante'],
 ['Nissan',
  'Sentra',
  'Small',
  8.7,
  11.8,
  14.9,
  29.0,
  33.0,
  'Driver only',
  'Front',
  nan,
  1.6,
  110.0,
  6000.0,
  2435.0,
  'Yes',
  13.2,
  5.0,
  170.0,
  96.0,
  66.0,
  33.0,
  26.0,
  nan,
  nan,
  'non-USA',
  'Nissan Sentra'],
 ['Nissan',
  'Altima',
  'Compact',
  13.0,
  15.7,
  18.3,
  24.0,
  30.0,
  'Driver only',
  'Front',
  '4',
  2.4,
  150.0,
  5600.0,
  2130.0,
  'Yes',
  15.9,
  5.0,
  181.0,
  103.0,
  67.0,
  40.0,
  28.5,
  14.0,
  3050.0,
  'non-USA',
  'Nissan Altima'],
 ['Nissan',
  'Quest',
  'Van',
  16.7,
  19.1,
  21.5,
  17.0,
  23.0,
  'None',
  'Front',
  '6',
  3.0,
  nan,
  4800.0,
  2065.0,
  'No',
  20.0,
  7.0,
  190.0,
  112.0,
  74.0,
  41.0,
  27.0,
  nan,
  4100.0,
  'non-USA',
  'Nissan Quest'],
 ['Nissan',
  'Maxima',
  'Midsize',
  21.0,
  21.5,
  22.0,
  21.0,
  26.0,
  'Driver only',
  'Front',
  '6',
  3.0,
  160.0,
  5200.0,
  2045.0,
  nan,
  18.5,
  5.0,
  188.0,
  104.0,
  69.0,
  41.0,
  28.5,
  14.0,
  3200.0,
  'non-USA',
  'Nissan Maxima'],
 ['Oldsmobile',
  'Achieva',
  'Compact',
  13.0,
  13.5,
  14.0,
  24.0,
  31.0,
  'None',
  'Front',
  '4',
  2.3,
  155.0,
  6000.0,
  2380.0,
  'No',
  15.2,
  5.0,
  188.0,
  103.0,
  67.0,
  39.0,
  28.0,
  14.0,
  2910.0,
  'USA',
  'Oldsmobile Achieva'],
 ['Oldsmobile',
  'Cutlass_Ciera',
  'Midsize',
  14.2,
  16.3,
  18.4,
  23.0,
  31.0,
  'Driver only',
  'Front',
  '4',
  2.2,
  110.0,
  5200.0,
  2565.0,
  'No',
  nan,
  5.0,
  190.0,
  105.0,
  70.0,
  42.0,
  28.0,
  16.0,
  2890.0,
  'USA',
  'Oldsmobile Cutlass_Ciera'],
 ['Oldsmobile',
  'Silhouette',
  'Van',
  19.5,
  19.5,
  19.5,
  18.0,
  23.0,
  'None',
  'Front',
  '6',
  3.8,
  170.0,
  4800.0,
  1690.0,
  'No',
  20.0,
  7.0,
  nan,
  110.0,
  74.0,
  44.0,
  30.5,
  nan,
  3715.0,
  'USA',
  'Oldsmobile Silhouette'],
 ['Oldsmobile',
  'Eighty-Eight',
  'Large',
  19.5,
  20.7,
  21.9,
  nan,
  28.0,
  'Driver only',
  'Front',
  '6',
  3.8,
  170.0,
  4800.0,
  1570.0,
  'No',
  18.0,
  6.0,
  201.0,
  111.0,
  74.0,
  42.0,
  31.5,
  17.0,
  3470.0,
  'USA',
  'Oldsmobile Eighty-Eight'],
 ['Plymouth',
  'Laser',
  'Sporty',
  11.4,
  14.4,
  17.4,
  nan,
  30.0,
  'None',
  '4WD',
  '4',
  1.8,
  92.0,
  5000.0,
  2360.0,
  'Yes',
  15.9,
  4.0,
  173.0,
  97.0,
  67.0,
  39.0,
  24.5,
  8.0,
  2640.0,
  nan,
  'Plymouth Laser'],
 ['Pontiac',
  'LeMans',
  'Small',
  nan,
  9.0,
  9.9,
  31.0,
  41.0,
  'None',
  'Front',
  '4',
  1.6,
  74.0,
  5600.0,
  3130.0,
  'Yes',
  13.2,
  4.0,
  177.0,
  99.0,
  66.0,
  35.0,
  25.5,
  17.0,
  2350.0,
  'USA',
  'Pontiac LeMans'],
 ['Pontiac',
  'Sunbird',
  'Compact',
  9.4,
  11.1,
  12.8,
  nan,
  31.0,
  'None',
  nan,
  '4',
  2.0,
  110.0,
  5200.0,
  2665.0,
  'Yes',
  15.2,
  5.0,
  181.0,
  101.0,
  66.0,
  39.0,
  25.0,
  13.0,
  nan,
  'USA',
  nan],
 ['Pontiac',
  'Firebird',
  nan,
  14.0,
  17.7,
  21.4,
  19.0,
  28.0,
  'Driver & Passenger',
  'Rear',
  '6',
  nan,
  160.0,
  4600.0,
  1805.0,
  'Yes',
  15.5,
  4.0,
  196.0,
  101.0,
  75.0,
  43.0,
  25.0,
  13.0,
  3240.0,
  'USA',
  'Pontiac Firebird'],
 ['Pontiac',
  'Grand_Prix',
  'Midsize',
  15.4,
  18.5,
  21.6,
  19.0,
  27.0,
  'None',
  'Front',
  '6',
  3.4,
  200.0,
  5000.0,
  1890.0,
  'Yes',
  16.5,
  5.0,
  195.0,
  108.0,
  72.0,
  41.0,
  28.5,
  16.0,
  3450.0,
  'USA',
  'Pontiac Grand_Prix'],
 ['Pontiac',
  'Bonneville',
  'Large',
  19.4,
  24.4,
  29.4,
  19.0,
  28.0,
  'Driver & Passenger',
  'Front',
  '6',
  3.8,
  170.0,
  4800.0,
  1565.0,
  'No',
  18.0,
  6.0,
  177.0,
  111.0,
  74.0,
  43.0,
  30.5,
  18.0,
  3495.0,
  'USA',
  'Pontiac Bonneville'],
 ['Saab',
  '900',
  'Compact',
  20.3,
  28.7,
  37.1,
  20.0,
  26.0,
  nan,
  'Front',
  '4',
  2.1,
  140.0,
  6000.0,
  2910.0,
  'Yes',
  18.0,
  5.0,
  nan,
  99.0,

In [2]:
# 38. How to extract the row and column number of a particular cell with given criterion?
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Which manufacturer, model and type has the highest Price? 
# What is the row and column number of the cell with the highest Price value?

In [3]:
# Solution

In [4]:
# Get Manufacturer with highest price
df.loc[df.Price == np.max(df.Price), ['Manufacturer', 'Model', 'Type']]

     Manufacturer Model     Type
58  Mercedes-Benz  300E  Midsize

In [5]:
# Get Row and Column number
row, col = np.where(df.values == np.max(df.Price))

In [7]:
# Get the value
df.iat[row[0], col[0]]
df.iloc[row[0], col[0]]

61.9

In [10]:
# Alternates
df.at[row[0], 'Price']
df.get_value(row[0], 'Price')

# The difference between 'iat' - 'iloc' vs 'at' - 'loc' is:
# 'iat' and 'iloc' accepts row and column numbers.
# Whereas 'at' and 'loc' accepts index and column names.

AttributeError: 'DataFrame' object has no attribute 'get_value'

In [11]:
# 39. How to rename a specific columns in a dataframe? (useful)
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.columns)

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [12]:
# Solution
# Step 1:
df = df.rename(columns = {'Type':'CarType'})
# or
df.columns.values[2] = "CarType"

# Step 2:
df.columns = df.columns.map(lambda x: x.replace('.', '_'))
print(df.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [13]:
# 40. How to check if a dataframe has any missing values?
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [14]:
# Solution
df.isnull().values.any()

True

In [15]:
# 41. How to count the number of missing values in each column?
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [16]:
# Solution
n_missings_each_col = df.apply(lambda x: x.isnull().sum())
n_missings_each_col.argmax()

23

In [17]:
# 42. How to replace missing values of multiple numeric columns with the mean?
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [18]:
# Solution
df_out = df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x: x.fillna(x.mean()))
print(df_out.head())

   Min.Price  Max.Price
0  12.900000  18.800000
1  29.200000  38.700000
2  25.900000  32.300000
3  17.118605  44.600000
4  17.118605  21.459091

In [4]:
# 43. How to use apply function on existing columns with global variables as additional arguments?

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df
# In df, use apply method to replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median.

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

In [6]:
# Solution
d = {'Min.Price': np.nanmean, 'Max.Price':np.nanmedian}
df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x, d: x.fillna(d[x.name](x)), args=(d, ))

In [8]:
# 44. How to select a specific column from a dataframe as dataframe instead of a series?

# Get the first column (a) in df as a dataframe (rather than as a Series).

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [10]:
# Solution
type(df[['a']])
type(df.loc[:, ['a']])
type(df.iloc[:, [0]])

pandas.core.frame.DataFrame

In [11]:
# Alternately the following returns a Series
type(df.a)
type(df['a'])
type(df.loc[:, 'a'])
type(df.iloc[:, 1])

pandas.core.series.Series

In [12]:
# 45. How to change the order of columns of a dataframe?'

# In df, interchange columns 'a' and 'c'.
# Create a generic function to interchange two columns, without hardcoding column names.
# Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

In [13]:
# Solution Q1
df[list('cbade')]

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [15]:
# Solution Q2 - No hard coding
def switch_columns(df, col1=None, col2=None):
    colnames = df.columns.tolist()
    i1, i2 = colnames.index(col1), colnames.index(col2)
    colnames[i2], colnames[i1] = colnames[i1], colnames[i2]
    return df[colnames]

df1 = switch_columns(df, 'a', 'c')
df1

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [16]:
# Solution Q3
df[sorted(df.columns)]

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [17]:
#or
df.sort_index(axis=1, ascending=False, inplace=True)

In [18]:
# 46. How to set the number of rows and columns displayed in the output?
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [25]:
# Solution
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)
df

# Show all available options
# pd.describe_option() <--- 생략 없이 출력하기

,Manufacturer,Model,Type,Min.Price,Price,...,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,...,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,...,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,...,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,...,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,...,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,...,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,...,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,...,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,...,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,...,30.0,15.0,3245.0,non-USA,Volvo 850

In [2]:
# 47. How to format or suppress scientific notations in a pandas dataframe?

df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
df

         random
0  2.016278e-02
1  9.919556e-01
2  3.747002e-14
3  1.705288e-02

In [3]:
# Solution 1: Rounding
df.round(4)

   random
0  0.0202
1  0.9920
2  0.0000
3  0.0171

In [4]:
# Solution 2: Use apply to change format
df.apply(lambda x: '%.4f' % x, axis=1)
# or
df.applymap(lambda x: '%.4f' % x)

   random
0  0.0202
1  0.9920
2  0.0000
3  0.0171

In [5]:
# Solution 3: Use set_option
pd.set_option('display.float_format', lambda x: '%.4f' % x)

In [6]:
# Solution 4: Assign display.float_format
pd.options.display.float_format = '{:.4f}'.format
print(df)

   random
0  0.0202
1  0.9920
2  0.0000
3  0.0171

In [7]:
# Reset/undo float formaating
pd.options.display.float_format = None

In [8]:
# 48. How to format all the values in a dataframe as percentages?

df = pd.DataFrame(np.random.random(4), columns=['random'])
df

     random
0  0.196435
1  0.078251
2  0.509048
3  0.678864

In [9]:
out = df.style.format({
    'random': '{0:.2%}'.format,
})

out

In [10]:
# 49. How to filter every nth row in a dataframe?

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [11]:
# Solution
print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

In [13]:
# 50. How to create a primary key index by combining relevant columns?

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

In [14]:
# Solution
df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df.index = df.Manufacturer + '_' + df.Model + '_' + df.Type
print(df.index.is_unique)

True

In [16]:
# 51. How to get the row number of the nth largest value in a column?
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

In [17]:
# Solution
n = 5
df['a'].argsort()[::-1][n]

7

In [2]:
# 52. How to find the position of the nth largest value greater than a given value?
ser = pd.Series(np.random.randint(1, 100, 15))

In [3]:
# Solution
print('ser: ', ser.tolist(), 'mean: ', round(ser.mean()))
np.argwhere(ser > ser.mean())[1]

ser:  [17, 49, 34, 49, 86, 88, 86, 58, 28, 91, 84, 42, 82, 80, 88] mean:  64

ValueError: Length of passed values is 1, index implies 15.

In [4]:
# 53. How to get the last n rows of a dataframe with row sum > 100?

df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

In [5]:
# Solution
# print row sums
rowsums = df.apply(np.sum, axis=1)

# last two rows with row sum greater than 100
last_two_rows = df.iloc[np.where(rowsums > 100)[0][-2:], :]

In [6]:
# 54. How to find and cap outliers from a series or dataframe column?
ser = pd.Series(np.logspace(-2, 2, 30))

In [7]:
# Solution
def cap_outliers(ser, low_perc, high_perc):
    low, high = ser.quantile([low_perc, high_perc])
    print(low_perc, '%ile: ', low, '|', high_perc, '%ile: ', high)
    ser[ser < low] = low
    ser[ser > high] = high
    return(ser)

capped_ser = cap_outliers(ser, .05, .95)

0.05 %ile:  0.016049294076965887 | 0.95 %ile:  63.87667222018393